<!DOCTYPE html>
{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление события</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
</head>
<body>
<ul>
    <li><a href="{% url 'index' %}">Главная страница</a></li>
    <li><a href="{% url 'events' %}">События</a></li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'profile' %}">Профиль</a></li>
        <li><a href="{% url 'logout'%}?next={{request.path}}">Выйти</a></li>
    {% else %}
        <li><a href="{% url 'login'%}">Войти</a></li>
        <li><a href="{% url 'reg'%}">Регистрация</a></li>
    {% endif %}
</ul>
{% if user.is_staff %}
<div class="header-h1">

    <h1>
        Добавьте новое событие
    </h1>
</div>

    <form action="{% url 'add_event' %}" enctype="multipart/form-data" method="post" class="input_100">
        {% csrf_token %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td><input type="text"name="name" required></td>
            </tr>
            <tr>
                <td>Время</td>
                <td><input type="datetime-local" name="time" required></td>
            </tr>
            <tr>
                <td>Картинка</td>
                <td><input type="file" name="photo" accept="image/*" required></td>
            </tr>
            <tr>
                <td>Текст</td>
                <td><textarea name="text" cols="100" rows="20" required></textarea></td>
            </tr>
        </table>
        <input type="submit">
    </form>

{% endif %}
</body>
</html>