<!DOCTYPE html>
{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>События</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">

</head>
<body>
<ul>
    <li><a href="{% url 'index' %}">Главная страница</a></li>
    <li><a href="{% url 'events' %}">События</a></li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'profile' %}">Профиль</a></li>
        <li><a href="{% url 'logout'%}?next={{request.path}}">Выйти</a></li>
    {% else %}
        <li><a href="{% url 'login'%}">Войти</a></li>
        <li><a href="{% url 'reg'%}">Регистрация</a></li>
    {% endif %}
</ul>
<h1>
    На данной старнице вы можете посмотреть список ближайших событий.
</h1>
{% if user.is_staff %}
    <p>{<a href="{% url 'add_event'%}">Добавить событие</a>]</p>
{% endif %}

{% for event in events %}
    <h3><a href="/events/{{event.id}}">{{event.name}}</a>
        {% if user.is_staff %}
            [<a href="{% url 'remove_event'%}?event={{event.id}}">Удалить событие</a>]
        {% endif %}
    </h3>
    <h4>{{event.time}}</h4>
    <img src="{{event.picture}}">
    <p>{{event.text}}</p>
    <br>
{% endfor %}


</body>
</html>
