<!DOCTYPE html>
{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>События</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
<ul>
    <li>Главная страница</li>
    <li>События</li>
    <li>Профиль</li>
    <li>Выйти</li>
</ul>
<h1>
    На данной старнице вы можете посмотреть список ближайших событий.
</h1>

{% for event in events %}
    <h2><a href="/events/1">{{event.name}}</a></h2>
    <h3>{{event.time}}</h3>
    <br>
    <img src="{{event.picture}}">
    <p>{{event.text}}</p>
    <br>
{% endfor %}


</body>
</html>