<!DOCTYPE html>
{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{event.name}}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">

</head>
<body>
<ul>
    <li><a href="{% url 'index' %}">Главная страница</a></li>
    <li><a href="{% url 'events' %}">События</a></li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'profile' %}">Профиль</a></li>
        <li><a href="{% url 'logout'%}?next={{request.path}}">Выйти</a></li>
    {% else %}
        <li><a href="{% url 'login'%}">Войти</a></li>
        <li><a href="{% url 'reg'%}">Регистрация</a></li>
    {% endif %}
</ul>

<h1>
    {{event.name}}
</h1>
<h2>Пройдёт: {{event.time}}</h2>
<img src="{{event.picture}}">
<p>{{event.text}}</p>
<hr>
<h2>Коммантарии:</h2>

{% for comment in comments %}
    <strong>{{comment.author}}</strong>
    <p>{{comment.text}}</p><br>
{% endfor %}

{% if user.is_authenticated %}
    <form action="{% url 'add_comment' event.id  %}" method="post">
        {% csrf_token %}
        <input type="text" value="{{ user.get_username }}" name="name" readonly><br>
        <textarea name="text"  rows="10" placeholder="Текст комментария" required></textarea><br>
        <button type="submit">Оставить комментарий</button>
    </form>
{% else %}
    <p>Для Введения комментариев необходимо <a href="{% url 'login'%}?next={{request.path}}">войти</a> на сайт.</p>
{% endif %}

</body>
</html>