<!DOCTYPE html>
{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
</head>
<body>
<ul>
    <li><a href="{% url 'index' %}">Главная страница</a></li>
    <li><a href="{% url 'events' %}">События</a></li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'profile' %}">Профиль</a></li>
        <li><a href="{% url 'logout'%}?next={{request.path}}">Выйти</a></li>
    {% else %}
        <li><a href="{% url 'login'%}">Войти</a></li>
        <li><a href="{% url 'reg'%}">Регистрация</a></li>
    {% endif %}
</ul>

<h1>
    У людей старше 50 лет появляется больше свободного времени, а вариантов времяпрепровождения и проблем, связанных с этим, еще больше. Для пожилых людей посещать какие-либо занятия, секции и мероприятия в одиночку трудно и некомфортно. Приходится искать подходящую компанию, а в силу возраста найти ее еще труднее из-за различных от других возрастов параметров выбора.
</h1>
<p>
    На данном сайте мы можете ознакомиться с информацией о мероприятиях и событиях, обсудить их с пользователями, а также выбрать попутчка или воспользоваться системой подбора.
</p>
</body>
</html>