<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
<ul>
    <li>Главная страница</li>
    <li>События</li>
    <li>Профиль</li>
    <li>Выйти</li>
</ul>
<h1>
    У людей старше 50 лет появляется больше свободного времени, а вариантов времяпрепровождения и проблем, связанных с этим, еще больше. Для пожилых людей посещать какие-либо занятия, секции и мероприятия в одиночку трудно и некомфортно. Приходится искать подходящую компанию, а в силу возраста найти ее еще труднее из-за различных от других возрастов параметров выбора. Вам предстоит разработать систему, объединяющую пожилых людей и помогающую им быть в курсе всех событий и мероприятий, планировать их посещение и искать компанию для этого с помощью выбора по предпочтениям.
</h1>
</body>
</html>