<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
<ul>
    <li><a href="/">Главная страница</a></li>
    <li><a href="/events/">События</a></li>
    <li><a href="/profile/">Профиль</a></li>
    <li><a href="#">Выйти</a></li>
</ul>
<h1>
    У людей старше 50 лет появляется больше свободного времени, а вариантов времяпрепровождения и проблем, связанных с этим, еще больше. Для пожилых людей посещать какие-либо занятия, секции и мероприятия в одиночку трудно и некомфортно. Приходится искать подходящую компанию, а в силу возраста найти ее еще труднее из-за различных от других возрастов параметров выбора.
</h1>
<p>
    На данном сайте мы можете ознакомиться с информацией о мероприятиях и событиях, обсудить их с пользователями, а также выбрать попутчка или воспользоваться системой подбора.
</p>
</body>
</html>